@import url("http://fonts.cdnfonts.com/css/whitney");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		font-family: "Whitney", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 16px;
		line-height: 1.5;
		color: #dcddde;
		background-color: #2f3136;
	}
}
